.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linkNavbar {
  text-decoration: none;
  color: beige;
}

.linkNavbar:hover {
  text-decoration: none;
  color: beige;
}

.NavMain {
  display: flex;
  justify-content: space-between;
}

.WhoL {
  margin-top: 60px;
}

.WhoR {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.WhoTxt {
  left: 40px;
  justify-self: start;
  font-size: 15px;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}

.WhoImg {
  margin-right: 10%;
}

.WhyL {
  margin-top: 60px;
}
.WhyR {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.WhyTxt {
  left: 40px;
  justify-self: start;
  font-size: 15px;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}

.WhyImg {
  margin-left: 10%;
}

.TitleOne {
  margin-top: 90px;
}

.carousel {
  margin-bottom: 40px;
}

.HowL {
  margin-top: 60px;
}
.HowR {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.HowTxt {
  left: 40px;
  justify-self: start;
  font-size: 15px;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}

.HowImg {
  margin-right: 10%;
}
.LoReBtn {
  padding-left: 20px;
  display: flex;
}

.LoBtn {
  margin-right: 5px;
}
.ReBtn {
  margin-left: 5px;
}
.SpanTitle {
  color: #f36846;
  font-family: "Dancing Script", cursive;
}

.linkNavbar {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}
